html,
body {
	width: 100%;
	height: 100%;
}

a {
	color: #03A9F4;
}

.gradient-background-pages {
	font-family: sans-serif;
	/* 	background: url(bg.jpg); */
	background-image: linear-gradient(to right top, #edf4fb, #e9eff4);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500vh;
	/* O ajusta la altura según tus necesidades */
	display: flex;
}


.welcome-div {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	padding-top: 7%;
}

.welcome-div h1 {
	margin: 0 0 30px;
	padding: 0;
	color: #435F7A;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}

.welcome-div p {
	margin: 0 0 30px;
	padding: 0;
	color: #435F7A;
	text-align: justify;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}

.box-code-study {
	position: relative;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 20px;
	background: #435F7A;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box-code-iteration {
	position: relative;
	left: 15%;
	width: 450px;
	padding: 20px;
	background: #435F7A;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box-code-iteration h3 {
	/*margin: 0 0 30px;*/
	padding: 0;
	color: #D5E8FB;
	text-align: left;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}

.box-code-iteration li {
	margin: 0 0 10px;
	padding: 0;
	color: #D5E8FB;
	text-align: left;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}

.box-code-study .inputBox {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.box-code-study .inputBox label {
	position: relative;
	text-align: center;
	line-height: 2;
	font-size: 16px;
	color: #D5E8FB;
	pointer-events: none;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
	margin-right: 10px;
}

.centered-input {
	text-align: center;
}

.box-code-study .inputBox input:focus~label,
.box-code-study .inputBox input:valid~label {
	top: -19px;
	left: 0;
	color: #03A9F4;
	font-size: 11px;
}

.button-container {
	display: flex;
	justify-content: center;
}

.box-code-study input[type='submit'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #6B96C2;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 520;
}

.box-code-study input[type='submit']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}

.box-code-iteration button[type='button'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #6B96C2;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 520;
}

.box-code-iteration button[type='button']:hover {
	background-color: rgba(3, 169, 244, 0.7);
}

.form-control[type="tel"] {
	width: 100px;
}

.button-primary {
	background: transparent;
	background-color: #435F7A;
	color: #FFF;
}

.button-primary:hover {
	background: transparent;
	background-color: #6B96C2;
	color: #FFF;
}