.gradient-background-tasks {
	position: relative;
	/* Importante para los estilos absolutos */
	/* 	background: url(bg.jpg); */
	background-image: linear-gradient(to right top, #D5E8FB, #a0bcd1);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	/* O ajusta la altura según tus necesidades */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Poppins", sans-serif;
	/* Agrega la fuente Roboto Condensed */
}

.home-link {
	position: absolute;
	display: flex;
	align-items: center;
	/* Alinea verticalmente ícono y texto */
	top: 20px;
	left: 30px;
	text-decoration: none;
	color: #333;
}

.home-icon {
	font-size: 24px;
	margin-right: 5px;
}

.home-text {
	font-size: 16px;
}

.title-container {
	text-align: center;
	margin-top: 100px;
	/* Espacio entre enlace y título */
}

.component-title {
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}

.component-subtitle {
	font-size: 24px;
}

.box-task {
	margin-top: 30px;
	/* Espacio entre subtítulo y box */
	width: 600px;
	padding: 20px;
	background: #6a97c2;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	border-radius: 10px;
	text-align: center;
}

.box-task p {
	margin: 0px 0 10px;
	padding: 0;
	color: #ffffff;
	text-align: center;
	font-size: 18px;
	font-weight: 180;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}

.box-task .buttons-div {
	margin-top: 20px;
}

.box-task button[type='button'] {
	background: transparent;
	border: none;
	outline: none;
	color: #FFF;
	background: #263746;
	/*background: #486682; este es para disabled*/
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	margin: 10px;
	/* Espacio entre botones */
}

.box-task button[type='button']:hover {
	background-color: #1b2833;
}

.box-task button[type='button']:disabled {
	/* Estilos para botones con la propiedad disabled */
	background-color: #4a6a87;
}

.page-indicator {
	position: absolute;
	bottom: 3%;
	/* Se coloca al borde inferior */
	left: 50%;
	transform: translateX(-50%);
	/* Centra horizontalmente */
	font-size: 16px;
	color: #6f8495;
}

.box-task-tester {
	/* Espacio entre subtítulo y box */
	width: 600px;
	padding: 20px;
	background: #6083a4;
	box-sizing: border-box;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
	border-radius: 10px;
}

.box-task-tester p {
	margin: 0px 0 10px;
	padding: 0;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	font-weight: 200;
	transition: .5s;
	animation: LabelOnLoad 1s forwards 0s ease;
}